*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #0b1220;
    color: #e5e7eb
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;

}

.logo{
    color: #43d399;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 20px 40px;
    position: relative;
}

.menu{
    display: flex;
    gap: 10px;
    position: relative;
}

.hero{
    height: 80vh;
    background: radial-gradient(circle at top, #0f172a, #020617);
   

}

.hero-container {
    text-align: center;
    margin-top: 3em;
}

.intro{
    color: #34d399;
    margin-bottom: 10px;
}

.hero-container h2{
    font-size: 3em;
    margin-bottom: 10px;
}

.descricao{
    color: #34d399;
    
}


/* SOBRE */

#sobre{
   padding: 80px 40px;
    max-width: 1100px;
    margin: 0 auto;
}

#sobre h2{
    color: #34d399;
    text-align: center;
    margin: auto;
}

.sobre-conteudo{
    display:flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.sobre-conteudo .sobre-texto{
    flex: 1;
}
.sobre-conteudo .sobre-formacao{
    flex: 1;
}

.sobre-texto{
    color:#9ca3af;
    margin-bottom: 20px;
    line-height: 1.6;
}

.sobre-texto p{
    margin-bottom: 20px;
}

.sobre-dados{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
   
}

.sobre-dados div{
    text-align: center;

}

.sobre-dados strong{
    display: block;
    font-size: 2em;
    color: #34d399;
}

.sobre-dados span{
    font-size: 1em;
    color: #9ca3af;
}


/* PROJETOS */

#projetos{
    min-height: 75vh;
    text-align: center;
    margin:20px
}

.projetos-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.projetos-container > *{
    flex: 1 1 250px;
}

.projeto-card{
    background: #020617;
    padding: 20px;
    border-radius: 10px;
}

.projeto-card img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: contain;
    object-position: center;
   
}

#projetos h2{
    color: #34d399;
    margin-bottom: 1em;
}

.projetos-card p{
    color: #9ca3af;
    margin-bottom: 15px;
}

.projeto-card a{
    display: inline-block;
    color: #34d399;
    font-weight: bold;
    border: 2px solid #34d399;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.projeto-card a:hover{
    background: #34d399;
    color: #0b1220;
}


/* habilidades */

#habilidades{
    min-height: 50vh;
    text-align: center;

}

#habilidades p{
    color: #9ca3af;
    margin-bottom: 20px;
    margin: 20px;
}

.habilidades-listas{
    display: flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content: space-around;
}

.habilidades-card{
    background-color: #020617;
    border: 1px solid #1f2933;
    border-radius: 10px;
    padding: 20px 20px;
}

.habilidades-card:hover{
    border: 1px solid #1ec487;
}

.habilidades-card h3{
    color: #34d399;
    margin-bottom: 10px;
}


.habilidades-card span{
    color: #9ca3af;
    background: #020617;
    border:1px solid #34d399;
    padding: 5px 14px;
    border-radius: 20px;
    font-size: 0.8em;
}


#contatos{
    min-height: 50vh;
    text-align: center;
    padding: 1em;
}

#contatos h2{
    color: #34d399;
    margin-bottom: 20px;
}

#contatos p{
    color:#9ca3af;
    margin-bottom: 15px;
}

.contatos-lista{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 25px;
    align-items: center;
}

.contato-item{
    background: #020617;
    padding: 20px 30px;
    border-radius: 10px;
    border: 1px solid #34d399
}

.contato-item strong{
    color:#34d399;
    display: block;
    margin-bottom: 5px;
}

.contato-item span{
    color:#9ca3af;
    font-size: 0.8em;
}

.redes-sociais{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.redes-sociais a{
    border: 1px solid #34d399;
    color:#34d399;
    border-radius: 10px;
    padding: 10px 20px;
    flex-direction: row ;
    transition: 0.3s ease;
}

@media (max-width: 768px){
    .redes-sociais{
        flex-direction: column;
    }
}

@media (max-width: 480px){
    .redes-sociais{
        flex-direction: column;
    }
}



.redes-sociais a:hover{
    background: #34d399;
    color: #0b1220;
}

.redes-sociais a:hover{
    color:#020617;
    background: #10b981;
}

.footer{
    height: 10vh;
    text-align: center;
    padding: 20px;
    background: #020617;
    color: #9ca3af;
}


#hamburguer{
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    color: #ffff
}

@media (max-width: 768px) {
    #hamburguer {
        display: block;
    }
}

@media (max-width: 480px) {
    #hamburguer {
        display: block;
    }
}

    .menu{
        position: absolute;
        top: 70px;
        right: 40px;
        gap: 15px;
        background: #111;
        display: none;
        flex-direction: column;
    }

    .menu.active{
        display:flex;
    }





