name: CI - Portfolio Check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install HTML Validator
        run: sudo apt-get update && sudo apt-get install -y tidy

      - name: Validate HTML
        run: |
          find . -name "*.html" -exec tidy -e -q {} +
